<div class="main-container">
  <div class="left-panel">
    <ul (click)="level1Click($event)">
      <li *ngFor="let item of counter(); let i=index">Menu Title {{i+1}}</li> 
    </ul>
  </div>
  <div class="right-panel">
    Current Selected:  {{currentSelectedMenu}}
    <mat-form-field appearance="fill">
      <div class="search-container">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="#bcbcbc"
        >
          <path
            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5 6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
          />
        </svg>
        <input
          type="text"
          matInput  
          [formControl]="states" 
          (keyup)="searchbar($event)"
          #search
        />
      </div>
      <div class="active-selection-container">
        <!-- <mat-autocomplete #auto="matAutocomplete"> -->
          <mat-optgroup *ngFor="let group of stateList; let i = index;" [ngStyle]="{display: group.visibility ? 'block': 'none'}">
            <div [ngStyle]="{display: group.visibility ? 'block': 'none'}">
              <mat-checkbox
                [checked]="group.checked"
                (change)="toggleParent($event, group)"
                (click)="$event.stopPropagation()"
               >
                {{ group.letter }}
              </mat-checkbox>
              <button mat-button (click)="expandDocumentTypes(group)">
                <mat-icon>keyboard_arrow_down</mat-icon>
              </button>
            </div>
            <mat-option
              *ngFor="let name of group.names"
              [value]="name"
              [ngClass]="
                isExpandCategory[group.index] ? 'list-show' : 'list-hide'
              "
            >
              <mat-checkbox
                [checked]="group.checked"
                (change)="toggleSelection($event, name, group)"
                (click)="$event.stopPropagation()"
              >
                {{ name }}
              </mat-checkbox>
            </mat-option>
          </mat-optgroup>
        <!-- </mat-autocomplete> -->
      </div>
    </mat-form-field>
  </div>
</div>
